/* Import Google Fonts Professional: Outfit (Mirip Google Sans) & Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
} 

/* Custom Selection Color */
::selection {
    @apply bg-emerald-500/20 text-emerald-900;
}

@layer utilities {
    /* Utility untuk menyembunyikan Scrollbar tapi tetap bisa di-scroll */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}