/* Import Google Fonts Professional: Outfit (Mirip Google Sans) & Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
} 

/* Custom Selection Color */
::selection {
    @apply bg-emerald-500/20 text-emerald-900;
}

@layer utilities {
    /* Utility untuk menyembunyikan Scrollbar tapi tetap bisa di-scroll */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

/* Kustomisasi NProgress Bar */
#nprogress .bar {
    background: #10b981 !important; /* Emerald-500 */
    height: 3px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #10b981, 0 0 5px #10b981 !important;
}

#nprogress .spinner-icon {
    border-top-color: #10b981 !important;
    border-left-color: #10b981 !important;
}